# Ignore les fichiers de versionnement
.git
.gitignore

# Ignore les fichiers de log
*.log

# Ignore les fichiers temporaires et de cache
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log
*.swp
*~
*.bak

# Ignore les fichiers de configuration de l'éditeur
.vscode/
.idea/
*.sublime*

# Ignore les répertoires de build locaux
build/
dist/
.next/

# Ignore les fichiers spécifiques à Docker
Dockerfile
.dockerignore

